//color
$color-default: #fff;
$ccc-color: #ccc;
$link-active-color: #de181b;
$border-color: #e5e5e5;
$color: #a33823;
$coloe_3: #333;
$color_999: #999;
$color_666: #666;
$color_cbb488: #cbb488;
//bgc
$bgc-theme: #fff;
$bg_ddcdaf: #ddcdaf;
$bg_a33823: #a33823;
$bg_cbb488: #cbb488;
$bgColor: #fefff9;
//font size
$font-size-base: 12px;
$font-size-l: $font-size-base + 2;
$icon-font-size-sm: 18px;
$icon-font-size: 48px;
$size: 100%;

//z-index
$navbar-z-index: 9999;
$tabbar-z-index: 1000;
$backtop-z-index: 1100;
$search-z-index: 99;
$dropDown: 999;
$head-z-index: 9;

//size
$navbar-height: 50px;
$tabbar-height: 50px;
