.mb20 {
    margin-bottom: 20px;
}
.mb30 {
    margin-bottom: 30px;
}
.mt20 {
    margin-top: 20px;
}
.ptb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.mr70 {
    margin-right: 70px;
}
.ptb10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.plr30 {
    padding-left: 30px;
    padding-right: 30px;
}
.ptb30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.plr20 {
    padding-left: 20px;
    padding-right: 20px;
}
.ptb108 {
    padding-top: 108px;
    padding-bottom: 100px;
}
.mb10 {
    margin-bottom: 20px;
}
.bg_f {
    background: #fff;
}
